/* button */

.button {
  @include radius;
  @include ease;
  display: block;
  border: $border-width $border-style $white;
  background: $white;
  font-family: $stack;
  font-size: $small;
  text-align: center;
  color: $brand;
  padding: $baseline*0.25;
  width: $baseline*8;
  &:hover {
    @include ease;
    background: none;
    cursor: pointer;
    border-color: $white;
    color: $white;
  }
}

.register .button,
.bottom .interest .button {
  color: $brand;
  border-color: $brand;
  &:hover {
    color: $brand-light;
    border-color: $brand-light;
  }
}