/* grid using neat */

$neat-grid: (
  columns: 8,
  gutter: $gutter,
);

/* temp
body {
  @include grid-visual;
}
*/
header {
  @include grid-container;
}

section, footer {
  float: left;
  width: 100%;
}

.logowrap,
.nav {
  @include grid-column(4);
}

.mainstory {
  @include grid-column(5);
}

.product {
  @include grid-column(3);
}

.story {
  @include grid-column(6);
  @include grid-push(1);
}

.interest,
.full {
  @include grid-column(8);
}

.bottom {
  .logowrap {
    @include grid-column(8);
  }
  .interest {
    @include grid-column(6);
    @include grid-push(1);
  }
}

.register form {
  @include grid-column(6);
  @include grid-push(1);
}