/* layout */

body {
  @include gradient;
}

header {
}

.mainstory {
  margin-top: $baseline*2;
}

section {
  margin-top: $baseline;
  margin-bottom: $baseline;
}

.stories {
  background: $white;
  padding-top: $baseline*3;
  padding-bottom: $baseline;
  margin-top: 0;
  margin-bottom: 0;
}

.interest {
  margin-top: $baseline;
  margin-bottom: $baseline*2;
}

.full {
  padding-top: $baseline*2;
  padding-bottom: $baseline;
}

.bottom {
  background: $white;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: $baseline*2;
  .logo {
    margin-left: auto;
    margin-right: auto;
    height: $baseline*4;
  }
}

.product {
  height: calc(0vh);
}

.footer {
}