/* layout */

body {
  background: $brand;
}

header {
}

.mainstory {
  margin-top: $baseline*2;
}

section {
  margin-top: $baseline;
  margin-bottom: $baseline;
}

.stories {
  background: $white;
  padding-top: $baseline*3;
  padding-bottom: $baseline;
  margin-top: 0;
  margin-bottom: 0;
}

.interest {
  margin-top: $baseline;
  margin-bottom: $baseline*2;
}

.bottom {
  background: $brand-2;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: $baseline*2;
}

.product {
  height: calc(0vh);
}

.footer {
}