/* typography */

body, h1, h2, h3, p {
  font-family: $stack;
  font-size: $body;
  line-height: $baseline;
  color: $black;
}

a, a:active, a:hover, a:focus {
  @include ease;
  color: $white;
  text-decoration: none;
}

p {
  margin-bottom: $baseline;
  span {
    color: $brand;
  }
  &.question {
    border-left: $border-width*3 $border-style $white;
    padding-left: $gutter*0.5;
  }
}

h1 {
  font-size: $h1;
  line-height: $h1*1.4;
}

h2 {
  font-size: $h2;
  line-height: $h2*1.5;
}

.mainstory h1 {
  color: $white;
}

.full p {
  color: $white;
}

