/* variables */

$body: 20px;
$baseline: 25px;
$gutter: $baseline*1.5;

$h1: 40px;
$h2: 25px;

$stack: 'Varela Round', sans-serif;

$border-width: 2px;
$border-style: solid;

$speed: 500ms;
$curve: ease;