/* variables */

$body: 25px;
$baseline: $body*1.5;
$gutter: $baseline*1.5;

$h1: 30px;
$h2: 25px;
$small: 20px;

$stack: 'Varela Round', sans-serif;

$border-width: 2px;
$border-style: solid;

$speed: 500ms;
$curve: ease;

/* header */
$header-height: $baseline*2;
// this can also be used for placing header nav vertically aligned to the logo