%main.main
  %section.mainstory
    %h1
      Pairing willing helpers with people with a disability to make commuting by public transport more comfortable and less stressful.
  %section.product
    =image_tag "app-grabs/knows-you-are-coming.png", :alt => "Lend a hand help"

  %section.interest
    = link_to "I'm interested!", new_research_answer_path, class: 'button'

  %section.stories
    .story
      %p
        Most of us benefit from easy access to public transportation to get around our cities cheaply and easily. 
        %span Yet half of the 1.36 million people living in NSW with a disability don’t use public transport.
    .story
      %p
        We’ve been speaking to people with disabilities about this and have heard that despite it being expensive to use other transport options like cars and taxis, and despite the fact that in some instances it leads to social isolation 
        %span - it can be really difficult, uncomfortable and stressful for people with disabilities to navigate our public transport network.
  %section.full
    %p.question
      Are you someone with a disability who finds taking public transport uncomfortable, difficult or stressful?
    %p.question
      Are you someone who would be willing to accompany someone with a disability taking the same route as you to help them feel more comfortable, less stressed and more supported?
  %section.bottom
    %section.product.small
      =image_tag "app-grabs/home-screen.png", :alt => "Lend a hand home"
    .story
      %p
        We are building a platform that will connect every day commuters willing to help someone with a disability on their trip.
    %section.interest
      %p
        We are working on a solution and need your help to show that there are people out there interested in participating!
      = link_to "I'm interested!", new_research_answer_path, class: 'button'
