%section
  %article.story
    %h1
      Most of us benefit from easy access to public transportation to get around our cities cheaply and easily. Yet half of the 1.36 million people living in NSW with a disability don’t use public transport. 
  %article.product
    %img(src="#")
    